name: tests backend

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:

    steps:
      - name:  Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Load enviroment variables
        run: |
          export $(grep -v '^#' .env | xargs)
      
      - name: Run tests
        run: |
          pytest -v